In [1]:
# lib allowing us to load custom data in notebook 
import pandas

In [2]:
#load datas form salary into variable named 'dat'
dat = pandas.read_csv('salary.csv')

In [3]:
#display dat
dat
#col names are displayed below

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [4]:
#retrieve exp column
experience= dat['YearsExperience']

In [5]:
experience.shape

(30,)

In [6]:
type(experience)

pandas.core.series.Series

In [7]:
## DUE TO CONVERSION STEP, ONLY ONE EXECUTION OF THIS CELL IS CORRECT

#convert the variable into a numpy type variable if only the variable is different type

# Nice conversion step 
# experienceVal = dat['YearsExperience'].values  ## ==> give a numpy
# experienceVal = experienceVal.reshape(-1, 1)

#here as experience var is the retrieved form of values in dat's yearsExp column, it has no more values attribute which 
#when retrieved is a pandas object

#display the new type
# type(experienceVal)


#reshaping the variable
experience= experience.values  # ==> numpy array

## IMPORTANT NOTE: conversion is made only once. A use case of error is when the conversion and reshaping 
# are kept in single cell and the cell is executed many times because CONVERSION IS DONE ONLY ONCE, SO TRYING TO EXECUTE 
# THE CELL CONTAINING CONVERSION MAY LEAD TO EXECUTION ERROR 
## ONE WAY TO AVOID SUCH KIND OF ERROR IS TO USE DIFFERENT VARIABLES INSTEAD OF USING SAME VAR (RE-ASSIGNMENT ) DURING 
# CONVERSION OF TYPE
# Eg: NewExperienceVar = experience.values

In [8]:
experience= experience.reshape(30, 1)
type(experience)

#display the temp final shape (in terme of dimensions of the object i.e. 1D, 2D, 3D, etc...)
experience.shape

(30, 1)

In [9]:
#retrieve salary column
salary =dat['Salary']

In [10]:
#display experience var
experience

array([[ 1.1],
       [ 1.3],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.9],
       [ 3. ],
       [ 3.2],
       [ 3.2],
       [ 3.7],
       [ 3.9],
       [ 4. ],
       [ 4. ],
       [ 4.1],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.3],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.1],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [11]:
#salary
salary

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

In [12]:
#importation of the LRegr function
from sklearn.linear_model import LinearRegression

In [13]:
# LRegr initialization
# the linear regression formula is Y=aX + Cst
model = LinearRegression()

In [14]:
# training
# param is a 2D array [x][y]
# x: input
# y: output (predicted value)
model.fit(experience, salary)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
#display the coef of the final trained model, 'a' in "Y=aX + Cst"
model.coef_

array([9449.96232146])

In [16]:
#example of prediction
#note on param nature, it is a 2D array,

model.predict([[2.5]])

array([49417.10600231])

In [17]:
## To save the trained model we use one function in a lib provided for that
## lib name 'joblib'
#importation
import joblib

In [18]:
## backup creation
## typical extension used is pk1 (theoritcally, we can use any extnsion)
# this file is also known as weight file

joblib.dump(model, 'salaryPredict.pk1')
joblib.dump(model, 'salaryPredict.pk1Test')

['salaryPredict.pk1Test']